{% extends "base.html.twig" %}

{% block styles %}
    {{ encore_entry_link_tags('card', null, 'css') }}
{% endblock %}

{% block content %}
    {% dump(content) %}
    <div class="res-section-gray">
    <div class="container">
        <div class="mt-1 p-0">
            <div class="">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% set nonclickableLeaf = sulu_breadcrumb(uuid)|last %}
                        {% for item in sulu_breadcrumb(uuid) %}
                            {% if item == nonclickableLeaf %}
                            <li class="breadcrumb-item">{{ item.title }}</li>
                            {% else %}
                            <li class="breadcrumb-item">
                                <a class="breadcrumb-item" href="{{ sulu_content_path(item.url) }}">{{ item.title }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
            </div>
        </div>
        <div class="taxonomy col-md-9 col-sm-12">
            {% if articles is not empty %}
                <div class="text-center heading-section pt-1">
                    <h1>Artykuły z kategorii: Atrakcje w Krynicy Zdroju</h1>
                </div>
                {% for article in articles %}
                    <a href="{{ sulu_content_path(article.routePath) }}">
                        <div class="card transitionable">
                            <div class="card-container">
                                {% if article.content.images[0] is defined %}
                                    <div class="image" style="background-image: url({{ article.content.images[0].formats['sulu-400x400-inset.webp'] }})">
                                {% else %}
                                    <div class="image" style="background-image: url(/web/images/place-1.jpg);">
                                {% endif %}
                                    </div>
                                <div class="text-card-container">
                                    <div class="card-description-container">
                                        <h2>{{ article.title }}</h2>
                                        {{ article.content.getArrayCopy['preview']|default()|raw }}
                                    </div>
                                </div>
                             </div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <div class="row">
                    <div class="col-md-8 text-center heading-section pt-1">
                        <h1>Brak artykułów</h1>
                    </div>
                </div>
            {% endif %}
            {% if page > 1 %}
                <nav aria-label="pagination" class="article-pagination">
                    <a href="?page={{ page - 1 }}">< Poprzednia</a>
                    {% for i in 1..pages %}
                        <a href="?page={{ i }}">{{ i }}</a>
                    {% endfor %}
                    <a href="?page={{ page + 1 }}">Następna ></a>
                </nav>
            {% endif %}

        </div>

        {% block aside %}
            <div class="sidebar col-md-3 col-sm-12">
                <h3>Kategorie</h3>
                <ul>
                    {% for category in sulu_categories('en') %}
                        <li id="{{ category.key }}">
                            <a href="{{ sulu_content_root_path() ~ article_root ~ category.name|slugify }}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <h3>Tagi</h3>
                <ul>
                    {% for tag in sulu_tags() %}
                        <li><a href="{{ sulu_content_root_path() ~ article_root ~ tag.name|slugify }}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
                <div class="latest-article">
                <div class="text-centr heading-sectio">
                    <h3>Najnowszy artykuł</h3>
                </div>
                    {% set articles = sulu_article_load_recent(1) %}
                    {% if articles is defined %}
                        {% for article in articles %}
                            <div class="display-table-sm">
                                <div class="res-blog">
                                    <a href="{{ sulu_content_path(article.routePath) }}">
                                        {% if article.content.content.images[0] is defined %}
                                            <img class="img-responsive" src="{{ article.content.content.images[0].formats['sulu-400x400-inset.webp'] }}" loading="lazy" alt="{{ article.title }}">
                                        {% else %}
                                            <img class="img-responsive" src="/web/images/place-1.jpg" loading="lazy" alt="{{ article.title }}">
                                        {% endif %}
                                    </a>
                                    <div class="blog-text">
                                        <div class="prod-title">
                                            <h4><a href="{{ sulu_content_path(article.routePath) }}">{{ article.title }}</a></h4>
                                            <p><a href="{{ sulu_content_path(article.routePath) }}">Zobacz więcej</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="row">
                            <div class="col-md-8 text-center heading-section pt-1">
                                <h1>Brak artykułów</h1>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

        {% endblock %}
    </div>
    </div>

    {% block grids %}
        {% include "/homepage/grids.html.twig"%}
    {% endblock %}

{% endblock %}
