{% extends "base.html.twig" %}

{% block content %}
    <h1>{{ content.title }}</h1>

    <ul>
        {% for article in articles %}
            <li><a href="{{ sulu_content_path(article.routePath) }}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>

    {% if page > 1 %}
        <nav aria-label="pagination">
            <a href="?page={{ page - 1 }}">< Poprzednia</a>

            {% for i in 1..pages %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endfor %}

            <a href="?page={{ page + 1 }}">Następna ></a>
        </nav>
    {% endif %}

{% endblock %}
