{% extends "base.html.twig" %}

{% block styles %}
    {{ encore_entry_link_tags('featureReservation', null, 'css') }}
{% endblock %}

{% block title %}{{ content.title }} - pokojebeata.pl{% endblock %}

{% block content %}

    {% include 'room/emptyForm.html.twig' %}
    {% include 'room/minStayLength.html.twig' %}
    {% include 'room/datepickerError.html.twig' %}

    <div class="res-hero">
        <div class="res-overlay"></div>
        <div class="res-cover" data-stellar-background-ratio="0.5" style="background-image: url(web/images/cover-bg-min.webp);">
            <div class="desc">
                {% block reservation %}
                    {% include "/homepage/reservation.html.twig" with {
                        form: form,
                        formHeader: 'Sprawdź dostępność pokoi',
                        widgetHeader: 'Odwiedź Krynicę-Zdrój'
                    } %}
                {% endblock %}
            </div>
        </div>
    </div>

    {% block grids %}
        {% include "/homepage/grids.html.twig"%}
    {% endblock %}

    <div id="res-features home">
        <div class="container homepage-content">
            <p>{{ content.article|raw }}</p>
        </div>
    </div>

    <div id="res-features">
        <div class="container">
            <h3 class="pb-1">W cenie pobytu zapewniamy: </h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-left">
							<span class="icon">
                                <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="32" height="32" title="Check circle">
							</span>
                        <div class="feature-copy">
                            <span>Wi-fi</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-left">
							<span class="icon">
                                <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="32" height="32" title="Check circle">
							</span>
                        <div class="feature-copy">
                            <span>monitorowany parking</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-left">
							<span class="icon">
                                <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="32" height="32" title="Check circle">
							</span>
                        <div class="feature-copy">
                            <span>przechowalnię sprzętu narciarskiego</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-left">
							<span class="icon">
                                <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="32" height="32" title="Check circle">
							</span>
                        <div class="feature-copy">
                            <span>taras dla palących</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-left">
							<span class="icon">
                                <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="32" height="32" title="Check circle">
							</span>
                        <div class="feature-copy">
                            <span>altankę na grilla</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-left">
							<span class="icon">
                                <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="32" height="32" title="Check circle">
							</span>
                        <div class="feature-copy">
                            <span>ogólnodostępną kuchnię</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    <div id="res-places">#}
{#        <div class="tour-fluid">#}
{#            <div class="row">#}
{#                <div class="col-md-12">#}
{#                    <ul id="res-places-list">#}
{#                        <li class="one-forth text-center" style="background-image: url(web/images/place-1.jpg); ">#}
{#                            <a href="#">#}
{#                                <div class="case-studies-summary">#}
{#                                    <h2>Los Angeles</h2>#}
{#                                </div>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="one-forth text-center" style="background-image: url(web/images/place-2.jpg); ">#}
{#                            <a href="#">#}
{#                                <div class="case-studies-summary">#}
{#                                    <h2>Hongkong</h2>#}
{#                                </div>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="one-forth text-center" style="background-image: url(web/images/place-3.jpg); ">#}
{#                            <a href="#">#}
{#                                <div class="case-studies-summary">#}
{#                                    <h2>Italy</h2>#}
{#                                </div>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="one-forth text-center" style="background-image: url(web/images/place-4.jpg); ">#}
{#                            <a href="#">#}
{#                                <div class="case-studies-summary">#}
{#                                    <h2>Philippines</h2>#}
{#                                </div>#}
{#                            </a>#}
{#                        </li>#}

{#                        <li class="one-forth text-center" style="background-image: url(web/images/place-5.jpg); ">#}
{#                            <a href="#">#}
{#                                <div class="case-studies-summary">#}
{#                                    <h2>Japan</h2>#}
{#                                </div>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="one-half text-center">#}
{#                            <div class="title-bg">#}
{#                                <div class="case-studies-summary">#}
{#                                    <h2>Najciekawsze miejsca</h2>#}
{#                                    <span><a href="#">Zobacz wszystkie</a></span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li class="one-forth text-center" style="background-image: url(web/images/place-6.jpg); ">#}
{#                            <a href="#">#}
{#                                <div class="case-studies-summary">#}
{#                                    <h2>Paris</h2>#}
{#                                </div>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="one-forth text-center" style="background-image: url(web/images/place-7.jpg); ">#}
{#                            <a href="#">#}
{#                                <div class="case-studies-summary">#}
{#                                    <h2>Singapore</h2>#}
{#                                </div>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="one-forth text-center" style="background-image: url(web/images/place-8.jpg); ">#}
{#                            <a href="#">#}
{#                                <div class="case-studies-summary">#}
{#                                    <h2>Madagascar</h2>#}
{#                                </div>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="one-forth text-center" style="background-image: url(web/images/place-9.jpg); ">#}
{#                            <a href="#">#}
{#                                <div class="case-studies-summary">#}
{#                                    <h2>Egypt</h2>#}
{#                                </div>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="one-forth text-center" style="background-image: url(web/images/place-10.jpg); ">#}
{#                            <a href="#">#}
{#                                <div class="case-studies-summary">#}
{#                                    <h2>Indonesia</h2>#}
{#                                </div>#}
{#                            </a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div id="res-blog-section" class="res-section-gray">
        <div class="container">
            {% include "articles/recentArticles.html.twig" %}
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ encore_entry_script_tags('flatpickr', null, 'js') }}
    {{ encore_entry_script_tags('homepage', null, 'js') }}
{% endblock %}
