{% extends "base.html.twig" %}

{% block styles %}
    {{ encore_entry_link_tags('tiny-slider', null, 'css') }}
    {{ encore_entry_link_tags('airbnb', null, 'css') }}
{% endblock %}

{% block content %}
{#    <h1>{{ content.title }}</h1>#}

    <div class="res-hero">
        <div class="res-overlay"></div>
        <div class="res-cover" data-stellar-background-ratio="0.5" style="background-image: url(web/images/cover-bg-111.jpg);">
            <div class="desc">
                {% block reservation %}
                    {% include "./homepage/reservation.html.twig" with {form: form} %}
                {% endblock %}
            </div>
        </div>
    </div>

    {% block grids %}
        {% include "./homepage/grids.html.twig" with {content: content} %}
    {% endblock %}

{% endblock %}

{% block js %}
    {{ encore_entry_script_tags('flatpickr', null, 'js') }}
    {{ encore_entry_script_tags('tiny-slider', null, 'js') }}
{% endblock %}
