{% extends "base.html.twig" %}

{% block styles %}
    {{ encore_entry_link_tags('modal', null, 'css') }}
    {{ encore_entry_link_tags('airbnb', null, 'css') }}
{% endblock %}

{% block content %}
{#    <h1>{{ content.title }}</h1>#}

    {% include 'room/emptyForm.html.twig' %}

    <div class="res-hero">
        <div class="res-overlay"></div>
        <div class="res-cover" data-stellar-background-ratio="0.5" style="background-image: url(web/images/cover-bg-min.webp);">
            <div class="desc">
                {% block reservation %}
                    {% include "./homepage/reservation.html.twig" with {form: form, header: 'Odwiedź Krynicę-Zdrój', widgetHeader: 'Sprawdź dostępność pokoi'} %}
                {% endblock %}
            </div>
        </div>
    </div>

    {% block grids %}
        {% include "./homepage/grids.html.twig" with {content: content} %}
    {% endblock %}

    <div id="res-features">
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                    <div class="feature-left">
							<span class="icon">
								<i class="icon-hotairballoon"></i>
							</span>
                        <div class="feature-copy">
                            <h3>Family Travel</h3>
                            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                            <p><a href="#">Learn More</a></p>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="feature-left">
							<span class="icon">
								<i class="icon-search"></i>
							</span>
                        <div class="feature-copy">
                            <h3>Travel Plans</h3>
                            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                            <p><a href="#">Learn More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-left">
							<span class="icon">
								<i class="icon-wallet"></i>
							</span>
                        <div class="feature-copy">
                            <h3>Honeymoon</h3>
                            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                            <p><a href="#">Learn More</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">

                    <div class="feature-left">
							<span class="icon">
								<i class="icon-wine"></i>
							</span>
                        <div class="feature-copy">
                            <h3>Business Travel</h3>
                            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                            <p><a href="#">Learn More</a></p>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="feature-left">
							<span class="icon">
								<i class="icon-genius"></i>
							</span>
                        <div class="feature-copy">
                            <h3>Solo Travlider-bgel</h3>
                            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                            <p><a href="#">Learn More</a></p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="feature-left">
							<span class="icon">
								<i class="icon-chat"></i>
							</span>
                        <div class="feature-copy">
                            <h3>Explorer</h3>
                            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                            <p><a href="#">Learn More</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="res-places">
        <div class="tour-fluid">
            <div class="row">
                <div class="col-md-12">
                    <ul id="res-places-list">
                        <li class="one-forth text-center" style="background-image: url(web/images/place-1.jpg); ">
                            <a href="#">
                                <div class="case-studies-summary">
                                    <h2>Los Angeles</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(web/images/place-2.jpg); ">
                            <a href="#">
                                <div class="case-studies-summary">
                                    <h2>Hongkong</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(web/images/place-3.jpg); ">
                            <a href="#">
                                <div class="case-studies-summary">
                                    <h2>Italy</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(web/images/place-4.jpg); ">
                            <a href="#">
                                <div class="case-studies-summary">
                                    <h2>Philippines</h2>
                                </div>
                            </a>
                        </li>

                        <li class="one-forth text-center" style="background-image: url(web/images/place-5.jpg); ">
                            <a href="#">
                                <div class="case-studies-summary">
                                    <h2>Japan</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-half text-center">
                            <div class="title-bg">
                                <div class="case-studies-summary">
                                    <h2>Najciekawsze miejsca</h2>
                                    <span><a href="#">Zobacz wszystkie</a></span>
                                </div>
                            </div>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(web/images/place-6.jpg); ">
                            <a href="#">
                                <div class="case-studies-summary">
                                    <h2>Paris</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(web/images/place-7.jpg); ">
                            <a href="#">
                                <div class="case-studies-summary">
                                    <h2>Singapore</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(web/images/place-8.jpg); ">
                            <a href="#">
                                <div class="case-studies-summary">
                                    <h2>Madagascar</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(web/images/place-9.jpg); ">
                            <a href="#">
                                <div class="case-studies-summary">
                                    <h2>Egypt</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(web/images/place-10.jpg); ">
                            <a href="#">
                                <div class="case-studies-summary">
                                    <h2>Indonesia</h2>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="res-blog-section" class="res-section-gray">
        <div class="container">
            {% include "articles/recentArticles.html.twig" %}
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ encore_entry_script_tags('flatpickr', null, 'js') }}
    {{ encore_entry_script_tags('homepage', null, 'js') }}
{% endblock %}
