{% extends 'base.html.twig' %}

{% block styles %}
    {{ encore_entry_link_tags('card', null, 'css') }}
{% endblock %}

{% block title %}Sprawdź dostęność pokoi{% endblock %}

{% block body %}
    <div class="res-section-gray">
        <div class="container">
            {% if rooms is defined %}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section pt-1">
                        <h1>Znaleziono wolne miejsce</h1>
                    </div>
                </div>
                {% for room in rooms %}
                    <div class="card">
                        <div class="card-container">
                            {% if media[room.id].media[0]is defined %}
                                <div class="image" style="background-image: url({{ media[room.id].media[0].media.formats['sulu-400x400-inset.webp'] }});"></div>
                            {% else %}
                                <div class="image" style="background-image: url(/web/images/place-1.jpg);"></div>
                            {% endif %}
                            <div class="text-card-container">
                                <div>
                                    <h2>{{ room.name }}</h2>
                                    <p>
                                        <i class="icon-checkmark pr-1"></i>Wi-fi, TV<br/>
                                        <i class="icon-man-woman pr-1"></i>Łazienka w pokoju
                                    </p>
                                </div>
                                <div class="text-card-container-right">
                                    <div class="col-xs">
                                        <p>
                                            Od<br/>
                                            <span class="price">{{ room.basePrice }}zł / noc</span>
                                        </p>
                                        <button type="submit"
                                                onclick="location.href='{{ path('room_show_dates', {id: room.id, checkIn: checkIn, checkOut: checkOut, guests: guests}) }}';"
                                                class="btn btn-primary btn-block">Dalej
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center heading-section pt-1">
                            <h1>Brak wolnych miejsc</h1>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}
