{% extends 'base.html.twig' %}

{% block styles %}
    {{ encore_entry_link_tags('featureReservation', null, 'css') }}
{% endblock %}

{% block title %}{{ room.widgetHeader }} - pokojebeata.pl{% endblock %}

{% block body %}
    {% if checked is defined %}
        <div id="homepage-path-js" data-checked>
        </div>
    {% endif %}
    <div class="res-hero data-js" data-room-id="{{ room.id }}" data-max-guests="{{ maxGuests }}" data-steps-amount="{{ stepsAmount }}">
        <div class="res-overlay"></div>
        {% if media[0] is defined %}
            <div class="res-cover" data-stellar-background-ratio="0.5" style="background-image: url({{ media[0]['media'].url }});">
        {% else %}
            <div class="res-cover" data-stellar-background-ratio="0.5">
        {% endif %}
            <div class="desc">
                {% block reservation %}
                    {% include "/homepage/reservation.html.twig" with
                        {
                            form: availabilityForm,
                            widgetHeader: room.widgetHeader,
                            widgetText: room.widgetText,
                            formHeader: 'Sprawdź dostępność ' ~ (room.type == 'pokój' ? 'pokoj' : room.type) ~ 'u'
                        }
                    %}
                {% endblock %}
            </div>
        </div>
    </div>

    <div id="res-features">
        <div class="container room-container">
            <div class="row plr-3">
                {% if room.type == 'apartament' %}
                    <h2 class="center-block">Apartament z sypialnią - idealny nocleg w krynicy dla rodzin z dziećmi</h2>
                    <div class="feature-copy">
                        <p>{{ room.content|raw }}</p>
                    </div>
                    <h3 class="features-header">Udogodnienia w apartamencie:</h3>
                    <div class="col-md-2">
                        <div class="feature-left">
                                <span class="icon">
                                    <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="24" height="24" title="Check circle">
                                </span>
                            <div class="feature-copy">
                                <span>całość zlokalizowana na parterze</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="feature-left">
                                <span class="icon">
                                    <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="24" height="24" title="Check circle">
                                </span>
                            <div class="feature-copy">
                                <span>prywatne mieszkanie w budynku</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="feature-left">
                                <span class="icon">
                                    <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="24" height="24" title="Check circle">
                                </span>
                            <div class="feature-copy">
                                <span>monitorowany parking</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="feature-left">
                                    <span class="icon">
                                        <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="24" height="24" title="Check circle">
                                    </span>
                            <div class="feature-copy">
                                <span>altanka na grilla</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="feature-left">
                                <span class="icon">
                                    <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="24" height="24" title="Check circle">
                                </span>
                            <div class="feature-copy">
                                <span>szafa i garderoba</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="feature-left">
                                    <span class="icon">
                                        <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="24" height="24" title="Check circle">
                                    </span>
                            <div class="feature-copy">
                                <span>aneks kuchenny</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row plr-3">
                    <div class="col-md-2">
                        <div class="feature-left">
                                <span class="icon">
                                    <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="24" height="24" title="Check circle">
                                </span>
                            <div class="feature-copy">
                                <span>zmywarka</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="feature-left">
                                <span class="icon">
                                    <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="24" height="24" title="Check circle">
                                </span>
                            <div class="feature-copy">
                                <span>2 wyjścia do ogrodu</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="feature-left">
                                <span class="icon">
                                    <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="24" height="24" title="Check circle">
                                </span>
                            <div class="feature-copy">
                                <span>rozkładane sofy</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="feature-left">
                                    <span class="icon">
                                        <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="24" height="24" title="Check circle">
                                    </span>
                            <div class="feature-copy">
                                <span>jacuzzi</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="feature-left">
                                <span class="icon">
                                    <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="24" height="24" title="Check circle">
                                </span>
                            <div class="feature-copy">
                                <span>2 łazienki</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="feature-left">
                                    <span class="icon">
                                        <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="24" height="24" title="Check circle">
                                    </span>
                            <div class="feature-copy">
                                <span>Wi-fi</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <h2 class="center-block">Opis pokoju</h2>
                <div class="feature-copy">
                    <p>{{ room.content|raw }}</p>
                </div>
                <h3 class="features-header">Wyposażenie pokoju obejmuje: </h3>
                <div class="row plr-3">
                    <div class="col-md-4">
                        <div class="feature-left">
                            <span class="icon">
                                <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="32" height="32" title="Check circle">
                            </span>
                            <div class="feature-copy">
                                <span>Wi-fi</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-left">
                            <span class="icon">
                                <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="32" height="32" title="Check circle">
                            </span>
                            <div class="feature-copy">
                                <span>monitorowany parking</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-left">
                            <span class="icon">
                                <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="32" height="32" title="Check circle">
                            </span>
                            <div class="feature-copy">
                                <span>przechowalnię sprzętu narciarskiego</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row plr-3">
                    <div class="col-md-4">
                        <div class="feature-left">
                            <span class="icon">
                                <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="32" height="32" title="Check circle">
                            </span>
                            <div class="feature-copy">
                                <span>taras dla palących</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-left">
                            <span class="icon">
                                <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="32" height="32" title="Check circle">
                            </span>
                            <div class="feature-copy">
                                <span>altankę na grilla</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-left">
                            <span class="icon">
                                <img loading="lazy" src="{{ asset('web/icons/check2-circle.svg') }}" alt="Check circle" width="32" height="32" title="Check circle">
                            </span>
                            <div class="feature-copy">
                                <span>ogólnodostępną kuchnię</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {% if media[0] is defined %}
        {% block gallery %}
            {% include 'gallery/gallery.html.twig' with {media: media} %}
        {% endblock %}
    {% endif %}

    {% block modal %}
        {% include 'room/roomNotAvailable.html.twig' with {roomName: room.name} %}
        {% include 'room/availabilityModal.html.twig' with {form: availabilityForm, roomName: room.name} %}
        {% include 'room/modal.html.twig' with {form: form} %}
        {% include 'room/policy.html.twig' %}
        {% include 'room/emptyForm.html.twig' %}
        {% include 'room/minStayLength.html.twig' %}
        {% include 'room/datepickerError.html.twig' %}
    {% endblock %}

    {% block js %}
        {{ encore_entry_script_tags('flatpickr', null, 'js') }}
    {% endblock %}

{% endblock %}
