{% extends 'base.html.twig' %}

{% block styles %}
    {{ encore_entry_link_tags('airbnb', null, 'css') }}
{% endblock %}

{% block title %}Room{% endblock %}

{% block body %}
    <h1>Room</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ room.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ room.name }}</td>
            </tr>
            <tr>
                <th>MaxGuests</th>
                <td>{{ room.maxGuests }}</td>
            </tr>
        </tbody>
    </table>

    {% block reservation %}
        {% include "./homepage/reservation.html.twig" with {form: form} %}
    {% endblock %}

    {% block js %}
        {{ encore_entry_script_tags('flatpickr', null, 'js') }}
    {% endblock %}

{% endblock %}
