{% extends 'base.html.twig' %}

{% block styles %}
    {{ encore_entry_link_tags('modal', null, 'css') }}
    {{ encore_entry_link_tags('airbnb', null, 'css') }}
{% endblock %}

{% block title %}Room{% endblock %}

{% block body %}
    <div class="res-hero">
        <div class="res-overlay"></div>
        <div class="res-cover" data-stellar-background-ratio="0.5">
            <div class="desc">
                {% block reservation %}
                    {% include "./homepage/reservation.html.twig" with {form: availabilityForm, header: 'Wynajmij ' ~ room.name, widgetHeader: 'Sprawdź dostępność pokoju'} %}
                {% endblock %}
            </div>
        </div>
    </div>

    <h1 class="id-js" data-room-id = {{ room.id }}>Room</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ room.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ room.name }}</td>
            </tr>
            <tr>
                <th>MaxGuests</th>
                <td>{{ room.maxGuests }}</td>
            </tr>
        </tbody>
    </table>

    {% block modal %}
        {% include 'room/roomNotAvailable.html.twig' with {roomName: room.name} %}
        {% include 'room/availabilityModal.html.twig' with {form: availabilityForm, roomName: room.name} %}
        {% include 'room/modal.html.twig' with {form: form} %}
    {% endblock %}

    {% block js %}
        {{ encore_entry_script_tags('flatpickr', null, 'js') }}
    {% endblock %}

{% endblock %}
