{% extends 'base.html.twig' %}

{% block styles %}
    {{ encore_entry_link_tags('modal', null, 'css') }}
    {{ encore_entry_link_tags('airbnb', null, 'css') }}
    {{ encore_entry_link_tags('roomGallery', null, 'css') }}
{% endblock %}

{% block title %}Room{% endblock %}

{% block body %}
    {% if checked is defined %}
        <div data-checked></div>
    {% endif %}
    <div class="res-hero id-js" data-room-id = {{ room.id }}>
        <div class="res-overlay"></div>
        <div class="res-cover" data-stellar-background-ratio="0.5" style="background-image: url({{ media[0]['media'].url }});">
            <div class="desc">
                {% block reservation %}
                    {% include "./homepage/reservation.html.twig" with
                        {
                            form: availabilityForm,
                            widgetHeader: room.widgetHeader,
                            widgetText: room.widgetText,
                            formHeader: 'Sprawdź dostępność pokoju'
                        }
                    %}
                {% endblock %}
            </div>
        </div>
    </div>

    <div id="res-features">
        <div class="container room-container">
            <div class="row plr-3">
                <h2 class="center-block">Opis pokoju</h2>
                <div class="feature-copy">
                    <p class="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <h3>Wyposażenie pokoju obejmuje: </h3>
                <div class="col-md-4">
                    <div class="feature-left">
							<span class="icon">
								<i class="icon-hotairballoon"></i>
							</span>
                        <div class="feature-copy">
                            <p>Kuchnia ogólnodostępna</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-left">
							<span class="icon">
								<i class="icon-search"></i>
							</span>
                        <div class="feature-copy">
                            <p>Bezpłatny internet</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-left">
							<span class="icon">
								<i class="icon-wallet"></i>
							</span>
                        <div class="feature-copy">
                            <p>Telewizja kablowa</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row plr-3">
                <div class="col-md-4">
                    <div class="feature-left">
							<span class="icon">
								<i class="icon-wine"></i>
							</span>
                        <div class="feature-copy">
                            <p>Łazienka w pokoju</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-left">
							<span class="icon">
								<i class="icon-genius"></i>
							</span>
                        <div class="feature-copy">
                            <p>Altanka ze sprzętem to grillowania</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-left">
							<span class="icon">
								<i class="icon-chat"></i>
							</span>
                        <div class="feature-copy">
                            <p>Ogród</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-md-offset-2 text-center heading-section">
        <h2>Zobacz zdjęcia pokoju</h2>
    </div>

    <div id="res-room" class="res-section-room">
        <div class="container">
            <div class="row">
                <section class="gallery">
                    <div class="carousel">
                        {% for image in media %}
                            {% if image['index'] == 1 %}
                                <input type="radio" id="image{{ image['index'] }}" name="gallery-control" checked>
                            {% endif %}
                            <input type="radio" id="image{{ image['index'] }}" name="gallery-control">
                        {% endfor %}
                        <input type="checkbox" id="fullscreen" name="gallery-fullscreen-control"/>
                        <div class="wrap">
                            {% for image in media %}
                                <figure>
                                    <label for="fullscreen">
                                        <img src="{{ image['media'].url }}" alt="image{{ image['index'] }}"/>
                                    </label>
                                </figure>
                            {% endfor %}
                        </div>
                        <div class="thumbnails">
                            <div class="slider">
                                <div class="indicator"></div>
                            </div>
                            {% for image in media %}
                                <label for="image{{ image['index'] }}" class="thumb"
                                       style="background-image: url({{ image['media'].formats['sulu-100x100.webp'] }})">
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    {% block modal %}
        {% include 'room/roomNotAvailable.html.twig' with {roomName: room.name} %}
        {% include 'room/availabilityModal.html.twig' with {form: availabilityForm, roomName: room.name} %}
        {% include 'room/modal.html.twig' with {form: form} %}
        {% include 'room/policy.html.twig' %}
        {% include 'room/emptyForm.html.twig' %}
    {% endblock %}

    {% block js %}
        {{ encore_entry_script_tags('flatpickr', null, 'js') }}
    {% endblock %}

{% endblock %}
