<div id="res-tours" class="res-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section">
                <h2>Najczęściej wynajmowane</h2>
            </div>
        </div>
        {% if rooms is defined and rooms is not empty %}
            {% for room in rooms %}
                <div class="col-md-4 col-sm-6 res-tours">
                    <div href="#">
                        {% if media[room.id].media[0] is defined %}
                            <img src="{{ media[room.id].media[0].media.formats['sulu-400x400-inset.webp'] }}" height="300px"  alt="{{ room.name }}">
                        {% else %}
                            <img src="web/images/place-1.jpg" height="300px" alt="{{ room.name }}" class="img-responsive">
                        {% endif %}
                        <div class="desc">
                            <h3>{{ room.name }}</h3>
                            <span class="price">od {{ room.basePrice }}zł</span>
                            <a class="btn btn-primary btn-outline" href="{{ path('room_show', {slug: room.slug}) }}">Zobacz <i class="icon-arrow-right22"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-md-12 text-center">
                <p><a class="btn btn-primary btn-outline btn-lg" href="{{ path('rooms_show') }}">Zobacz wszystkie <i class="icon-arrow-right22"></i></a></p>
            </div>
        {% endif %}
    </div>
</div>
