<div class="online_reservation">
    <div class="b_room">
        <div class="booking_room">
            <h4>book a room online</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
        <div class="reservation">
            <ul>
                <li class="span1_of_1">
                    {{ form_start(form, {'attr': {'class': 'submit-form'} }) }}
                    {{ form_errors(form) }}
                    <!----------start section_room----------->
                    <div class="section_room">
                        {{ form_label(form.roomType) }}
                        {{ form_errors(form.roomType) }}
                        {{ form_widget(form.roomType) }}
                    </div>
                </li>
                <li class="span1_of_1 left">
                    <div class="book_date">
                        {{ form_label(form.checkInDate) }}
                        {{ form_errors(form.checkInDate) }}
                        {{ form_widget(form.checkInDate) }}
                    </div>
                </li>
                <li class="span1_of_1 left">
                    <div class="book_date">
                        {{ form_label(form.checkOutDate) }}
                        {{ form_errors(form.checkOutDate) }}
                        {{ form_widget(form.checkOutDate) }}
                    </div>
                </li>
                <li class="span1_of_2 left">
                    <!----------start section_room----------->
                    <div class="section_room">

                        {{ form_label(form.adults) }}
                        {{ form_errors(form.adults) }}
                        {{ form_widget(form.adults) }}
                    </div>
                </li>
                <li class="span1_of_2 left">
                    <!----------start section_room----------->
                    <div class="section_room">
                        {{ form_label(form.children) }}
                        {{ form_errors(form.children) }}
                        {{ form_widget(form.children) }}
                    </div>
                </li>
                <li class="span1_of_3">
                    <div class="date_btn">
                        {{ form_widget(form.submit) }}
                    </div>
                </li>
                {{ form_end(form) }}
                <div class="clear"></div>
            </ul>
        </div>
    </div>
</div>

