{% extends "base.html.twig" %}

{% block content %}
    <div class="res-section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center heading-section">
                    <h1>{{ content.title }}</h1>
                    <p>{{ content.article|default()|raw }}</p>
                </div>
            </div>
            <div class="row">
                {% set articles = sulu_article_load_recent(3) %}
                {% if articles is defined %}
                        {% for article in articles %}
                            <div class="col-md-4 col-sm-6 res-tours">
                                <div>
                                    <img src="web/images/place-1.jpg" alt="" class="img-responsive">
                                    <div class="desc">
                                        <a href="{{ sulu_content_path(article.routePath) }}">
                                            <span>{{ article.title }}</span>
                                        </a>
                                        <a class="btn btn-primary btn-outline" href="{{ sulu_content_path(article.routePath) }}">
                                            Przejdź <i class="icon-arrow-right22"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                {% else %}
                <div class="col-md-4 col-sm-6 res-tours">
                    <div href="#">
                        <img src="web/images/place-1.jpg" alt="" class="img-responsive">
                        <div class="desc">
                            <span></span>
                            <h3>New York</h3>
                            <span></span>
                            <span class="price">$1,000</span>
                            <a class="btn btn-primary btn-outline" href="#">Przejdź <i class="icon-arrow-right22"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 res-tours">
                    <div href="#"><img src="web/images/place-2.jpg" alt="" class="img-responsive">
                        <div class="desc">
                            <span></span>
                            <h3>Philippines</h3>
                            <span></span>
                            <span class="price">$1,000</span>
                            <a class="btn btn-primary btn-outline" href="#">Przejdź <i class="icon-arrow-right22"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 res-tours">
                    <div href="#"><img src="web/images/place-3.jpg" alt="" class="img-responsive">
                        <div class="desc">
                            <span></span>
                            <h3>Hongkong</h3>
                            <span></span>
                            <span class="price">$1,000</span>
                            <a class="btn btn-primary btn-outline" href="#">Przejdź <i class="icon-arrow-right22"></i></a>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col-md-12 text-center">
                    <p><a class="btn btn-primary btn-outline btn-lg" href="#">Zobacz wszystkie<i class="icon-arrow-right22"></i></a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
