{% extends "base.html.twig" %}

{% block title %}{{ content.title }}{% endblock %}

{% block content %}
    <div class="res-hero">
        <div class="res-overlay"></div>
        {% if content.images[0] is defined %}
            <div class="res-cover" data-stellar-background-ratio="0.5" style="background-image: url({{ content.images[0].formats['1200x.webp'] }});">
        {% else %}
            <div class="res-cover" data-stellar-background-ratio="0.5" style="background-image: url(/web/images/cover-bg-2.jpg);">
        {% endif %}
            <div class="article-desc">
                <div class="container">
                    <div class="row">
                        <div class="desc2">
                            <div class="col-sm-8 col-md-7 text-header-article">
                                <h1>{{ content.title }}</h1>
                                {{ content.preview|default()|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="res-section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center text-article">
                    <p>{{ content.article|default()|raw }}</p>
                </div>
            </div>
            {% include "articles/recentArticles.html.twig" %}
        </div>
    </div>
{% endblock %}
