<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        {{ encore_entry_link_tags('app', null, 'css') }}
        {{ encore_entry_link_tags('tiny-slider', null, 'css') }}
        {{ encore_entry_link_tags('JFFormStyle-1', null, 'css') }}
        {{ encore_entry_link_tags('airbnb', null, 'css') }}
    {% endblock %}

    {% block meta %}
        {% include "SuluWebsiteBundle:Extension:seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "urls": urls|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
            "defaultLocale": app.request.locale
        } %}
    {% endblock %}

    {% block style %}{% endblock %}
</head>
<body>
    <header>
        {% block header %}
            {% include "header.html.twig" %}
        {% endblock %}
    </header>

{#    <form action="{{ path('sulu_search.website_search') }}" method="GET">#}
{#        <input name="q" type="text" placeholder="Search"/>#}
{#        <input type="submit" value="Go"/>#}
{#    </form>#}

    {% block body ''%}

    <section class="main_bg" id="content">
        {% block content %}{% endblock %}
    </section>

    <aside>
        {% block aside %}{% endblock %}
    </aside>

    <footer>
        <div class="footer_bg">
            <div class="wrap">
            {% block footer %}
                {% include "footer.html.twig" %}
            {% endblock %}
            </div>
        </div>
    </footer>

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        {{ encore_entry_script_tags('init-js', null, 'js') }}
        {{ encore_entry_script_tags('css3-mediaqueries', null, 'js') }}
        {{ encore_entry_script_tags('tiny-slider', null, 'js') }}
    {% endblock %}
</body>
</html>
