<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179705432-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-179705432-1');
    </script>

    <title>{% block title '' %}</title>

    {% block stylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        {{ encore_entry_link_tags('icomoon', null, 'css') }}
        {{ encore_entry_link_tags('bootstrap', null, 'css') }}
        {{ encore_entry_link_tags('superfish', null, 'css') }}
        {{ encore_entry_link_tags('style', null, 'css') }}
        {{ encore_entry_link_tags('app', null, 'css') }}
    {% endblock %}
    {% block styles '' %}

    {% block meta %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "urls": urls|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
            "defaultLocale": app.request.locale
        } %}
    {% endblock %}

    {% block style %}{% endblock %}
</head>
<body>

<div id="res-wrapper">
    <div id="res-page">

        <header>
            {% block header %}
                {% include "header.html.twig" %}
            {% endblock %}
        </header>

        {#    <form action="{{ path('sulu_search.website_search') }}" method="GET">#}
        {#        <input name="q" type="text" placeholder="Search"/>#}
        {#        <input type="submit" value="Go"/>#}
        {#    </form>#}

        {% block body '' %}

        {% block form '' %}

        <section class="main_bg" id="content">
            {% block content %}{% endblock %}
        </section>

        <aside>
            {% block aside %}{% endblock %}
        </aside>

        <footer>
            {% block footer %}
                {% include "footer.html.twig" %}
            {% endblock %}
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('main', null, 'js') }}
        {% endblock %}
        {% block js '' %}

    </div>
</div>
</body>
</html>
