<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block meta %}
        {% include "SuluWebsiteBundle:Extension:seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "urls": urls|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
            "defaultLocale": app.request.locale
        } %}
    {% endblock %}

    {% block style %}{% endblock %}
</head>
<body>
    <header>
        {% block header %}
            <nav>
                <ul>
                    <li>
                        <a href="{{ sulu_content_root_path() }}">Homepage</a>
                    </li>

                    {% for item in sulu_navigation_root_tree('main') %}
                        <li>
                            <a href="{{ sulu_content_path(item.url, item.webspaceKey) }}"
                               title="{{ item.title }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            {% include "header.html.twig" %}
        {% endblock %}
    </header>

    <form action="{{ path('sulu_search.website_search') }}" method="GET">
        <input name="q" type="text" placeholder="Search"/>
        <input type="submit" value="Go"/>
    </form>

    <section id="content">
        {% block content %}{% endblock %}
    </section>

    <aside>
        {% block aside %}{% endblock %}
    </aside>

    <footer>
        <div class="footer_bg">
            <div class="wrap">
            {% block footer %}
                {% include "footer.html.twig" %}
            {% endblock %}
            </div>
        </div>
    </footer>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('jquery.min') }}
        {{ encore_entry_script_tags('init-js') }}
        {{ encore_entry_script_tags('jquery-ui') }}
        {{ encore_entry_script_tags('css3-mediaqueries') }}
        {{ encore_entry_script_tags('fwslider') }}
    {% endblock %}
</body>
</html>
