<nav id="offcanvas-menu" role="navigation">
    <ul class="" id="" style="touch-action: pan-y;">
        <li><a href="#" class="res-sub-ddown sf-with-ul">Pokoje</a>
            <ul class="res-sub-menu" style="display: none;">
                {% if all_rooms is defined %}
                    {% for room in all_rooms.generate %}
                        <li>
                            <a href="{{ path('room_show', {id: room.id}) }}">{{ room.name }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </li>
        {% for item in sulu_navigation_root_tree('main') %}
            <li>
                <a href="{{ sulu_content_path(item.url, item.webspaceKey) }}"
                   title="{{ item.title }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>

<header id="res-header-section" class="sticky-banner">
    <div class="container">
        <div class="nav-header">
            <a href="#" class="js-res-nav-toggle res-nav-toggle dark"><i></i></a>
            <h1 id="res-logo"><a href="{{ sulu_content_root_path() }}"><img src="web/images/pokojebeata-logo.webp" height="70px" alt="pokojebeata.pl" title="pokojebeata.pl"></a></h1>
            <nav id="res-menu-wrap" role="navigation">
                <ul class="sf-menu" id="res-primary-menu">
                    <li>
                        <a href="#" class="res-sub-ddown">Pokoje</a>
                        <ul class="res-sub-menu">
                            {% if all_rooms is defined %}
                                {% for room in all_rooms.generate %}
                                    <li>
                                        <a href="{{ path('room_show', {id: room.id}) }}">{{ room.name }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </li>
                    {% for item in sulu_navigation_root_tree('main') %}
                        <li>
                            <a href="{{ sulu_content_path(item.url, item.webspaceKey) }}"
                               title="{{ item.title }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
