<nav id="offcanvas-menu" role="navigation">
    <ul class="" id="" style="touch-action: pan-y;">
        <li class="active"><a href="{{ sulu_content_root_path() }}">Home</a>
        <li><a href="pages/vacation.php" class="res-sub-ddown sf-with-ul">Vacations</a>
            <ul class="res-sub-menu" style="display: none;">
                <li><a href="#">Family</a></li>
                <li><a href="#">CSS3 &amp; HTML5</a></li>
                <li><a href="#">Angular JS</a></li>
                <li><a href="#">Node JS</a></li>
                <li><a href="#">Django &amp; Python</a></li>
            </ul>
        </li>
        {% for item in sulu_navigation_root_tree('main') %}
            <li>
                <a href="{{ sulu_content_path(item.url, item.webspaceKey) }}"
                   title="{{ item.title }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>

<header id="res-header-section" class="sticky-banner">
    <div class="container">
        <div class="nav-header">
            <a href="#" class="js-res-nav-toggle res-nav-toggle dark"><i></i></a>
            <h1 id="res-logo"><a href="{{ sulu_content_root_path() }}"><i class="icon-airplane"></i>Reservation CMS</a></h1>
            <nav id="res-menu-wrap" role="navigation">
                <ul class="sf-menu" id="res-primary-menu">
                    <li class="active"><a href="{{ sulu_content_root_path() }}">Home</a>
                    <li>
                        <a href="vacation.html" class="res-sub-ddown">Vacations</a>
                        <ul class="res-sub-menu">
                            <li><a href="#">Family</a></li>
                            <li><a href="#">CSS3 &amp; HTML5</a></li>
                            <li><a href="#">Angular JS</a></li>
                            <li><a href="#">Node JS</a></li>
                            <li><a href="#">Django &amp; Python</a></li>
                        </ul>
                    </li>
                    {% for item in sulu_navigation_root_tree('main') %}
                        <li>
                            <a href="{{ sulu_content_path(item.url, item.webspaceKey) }}"
                               title="{{ item.title }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
